#MainSection{
  width: 100%;
  height: 900px;
  background-color: black;
  position: relative;
  z-index: -1;

}
.wrapper span{
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: black;
  /*border: 2px solid red;*/
  box-shadow: 0 0 50px #470981,
  0 0 100px #470981,
  0 0 150px #470981,
  0 0 200px #470981;
  animation: animate 15s linear infinite;
}
.wrapper > span:nth-child(1){
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper > span:nth-child(2){
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper > span:nth-child(3){
  left: 20%;
  animation-delay: 2s;

}
.wrapper > span:nth-child(4){
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;

}
.wrapper > span:nth-child(5){
  left: 40%;
  animation-delay:1s;


}
.wrapper > span:nth-child(6){
  left: 50%;
  animation-delay: 7s;
}
.wrapper > span:nth-child(7){
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}
.wrapper > span:nth-child(8){
  left: 70%;
  animation-delay: 8s;
}
.wrapper > span:nth-child(9){
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper > span:nth-child(10){
  left: 90%;
  animation-delay: 4s;
}
@keyframes animate {
  0%{
    transform: translateY(0);
    opacity: 1;
  }80%{
  opacity: 0.7;
     }100%{
  transform: translateY(-800px) rotate(360deg);
  opacity: 0;
           }

}
#backGroundColor01{

  width: 418px;
  height: 384px;
  background-color:#470981 ;
  opacity: 72%;
  border-radius: 100%;
  filter: blur(72px);
}
#backGroundColor02{
  position: absolute;
  top: 0;
  right: 0;
  width: 418px;
  height: 384px;
  background-color:#004D5D ;
  opacity: 72%;
  border-radius: 100%;
  filter: blur(72px);
  z-index: -1;
}
#backGroundColor03{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 418px;
  height: 384px;
  background-color:#004D5D ;
  opacity: 72%;
  border-radius: 100%;
  filter: blur(72px);
  z-index: -1;
}
#backGroundColor04{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 418px;
  height: 384px;
  background-color:#470981 ;
  opacity: 72%;
  border-radius: 100%;
  filter: blur(72px);
}

header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
footer{
  position: absolute;
  width: 100%;
  height: 300px;
  background:black;
  color:white;
  text-align:center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;



}
#portfolioLogo{
  color: white;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
#navigationName{
  color: white;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 50px;
}
#navigationName > a{
  margin: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
#hireAvailability{
  position: absolute;
  top: 0;
  margin-left: 30px;
  width: 300px;
  height: 45px;
  text-align: center;
  /*justify-content: center;*/

  border-radius: 4em;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
}
/*#hireAvailability::before{*/
/*  content: "";*/
/*  position: absolute;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  background:conic-gradient(*/
/*  from 0deg at center,*/
/*  #00c3ff,*/
/*  #4d0299,*/
/*  #6300c6,*/
/*  #009dcd*/

/*  ) ;*/
/*  border-radius: inherit;*/
/*  z-index: -100;*/
/*}*/
.fa-circle-dot{
  /*margin-left: 10px;*/
  color: #51B55D;
  margin-top: 15px;

}
.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

#MainDiv01-leftSide{
  width: 600px;
  height: 600px;
  /*border: 2px solid red;*/
  position: absolute;
  top: 100px;
  /*margin-left: 10px;*/
  color: white;
  margin-left: 40px;
  font-weight: bolder;
}
#Line01{
  position: absolute;
  top: 80px;
  font-size: 2em;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;

}
#Line02{
  position: absolute;
  top: 130px;
  font-size: 3em;
  margin-left: 30px;

}
#Line02  > span > span:first-child{
  /*color: line;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  background: linear-gradient(to right,#8B5CF6,#513690);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /*color: linear-gradient(to right,#8B5CF6,#513690);*/
}
#Line03{
  position: absolute;
  top: 200px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}
#description{
 position: absolute;
  top: 240px;
  margin-left:30px;
  color: #847575;
  font-family: Arial, Helvetica, sans-serif;
}
#qualificationIcon{
  position: absolute;
  top: 350px;
  width: 400px;
  height: 80px;
  /*border: 2px solid red;*/
  margin-left: 30px;

}
#qualificationIcon > div:first-child{
  position: absolute;
  width: 90px;
  height: 30px;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 10, 10, 0.50);

}
#qualificationIcon > div:nth-child(2){
  position: absolute;
  width: 90px;
  height: 30px;
  left: 110px;
  border-radius: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 10, 10, 0.50);
}
#qualificationIcon > div:nth-child(3){
  position: absolute;
  width: 130px;
  height: 30px;
  left: 220px;
  border-radius: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 10, 10, 0.50);
}
#qualificationIcon > div:nth-child(4){
  position: absolute;
  width: 90px;
  height: 30px;
  top: 50px;
  border-radius: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 10, 10, 0.50);
}
#qualificationIcon > div:nth-child(5){
  position: absolute;
  width: 90px;
  height: 30px;
  top: 50px;
  left: 110px;
  border-radius: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 10, 10, 0.50);
}
#buttons{
  width: 330px;
  height: 50px;
  position: absolute;
  top:  480px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
#buttons > button{

  width: 150px;
  height: 50px;
  border-radius: 2em;
  background-color: #7300FF;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  /*z-index: 1000000000;*/


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#buttons > button::before,
#buttons > button::after{
  content: "";
  position: absolute;
  top: 0;
  height: 53px;
  width: 153px;
  background: conic-gradient(from var(--deg) at center,
  #8B5CF6,
  #8B5CF6,
  purple,
  black);
  border-radius: 2em;

  z-index: -1;
  animation: autoRotate 2s linear infinite;
}
#buttons > button::after {
  filter:blur(20px)  ;
}
@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@keyframes autoRotate {
  to{
    --deg: 360deg;
  }

}

#MainDiv01-rightSide{
  position: absolute;
  top:100px;
  left: 700px;
  width: 600px;
  height: 550px;
  /*border: 2px solid red;*/
}
#square01{
  position: absolute;
  left: 120px;
  top: 120px;
  width: 350px;
  height: 350px;
  border: 1px solid white;
  transform: rotate(-60deg);
  animation: scrolling01 50s infinite linear;
}
#square02{
  position: absolute;
  left: 100px;
  top: 90px;
  width: 400px;
  height: 400px;
  border: 1px solid white;
  transform: rotate(-60deg);
  animation: scrolling02 40s infinite linear;
}
#square03{
  position: absolute;
  left: 100px;
  top: 90px;
  width: 400px;
  height: 400px;
  border: 1px solid white;
  transform: rotate(80deg);
  animation: scrolling01 40s infinite linear;
}
@keyframes scrolling01 {
  0%{

  }100%{
      transform: rotate(360deg);
     }


}
@keyframes scrolling02 {
  0%{

  }100%{
     transform: rotate(-360deg);
   }
}
#experienceBatch{
  position: absolute;
  margin-left: 10px;
  top: 0;
  width: 95px;
  color: gray;
  font-weight: bolder;
  height: 40px;
  animation: breathingBadge 2s infinite linear;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 12, 12, 0.15);
  box-sizing: border-box;
}
#statusBatch{
  position: absolute;
  color: gray;
  font-weight: bolder;
  margin-left: 10px;
  top: 500px;
  width: 100px;
  left: 300px;
  height: 45px;
  animation: breathingBadgeStatus 2s infinite linear;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 12, 12, 0.15);
  box-sizing: border-box;
}
#projectCount{
  position: absolute;
  color: gray;
  font-weight: bolder;
  margin-left: 10px;
  /*top:0;*/
  width: 100px;
  /*bottom: 0;*/
  height: 45px;
  animation: breathingBadgeStatus 2s infinite linear;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(12, 12, 12, 0.15);
  box-sizing: border-box;
}
@keyframes breathingBadge {
  0% {
    top: 300px;
  }
  25% {
    top: 295px;
  }
  50% {
    top: 300px;
  }
  75% {
    top: 305px;

  }
  100% {
    top: 300px;
  }
}
@keyframes breathingBadgeStatus {
  0% {
    top: 500px;
  }
  25% {
    top: 495px;
  }
  50% {
    top: 500px;
  }
  75% {
    top: 505px;

  }
  100% {
    top: 500px;
  }
}

@keyframes breathingBadgeProjectCount {
  0% {
    top: 500px;
  }
  25% {
    top: 495px;
  }
  50% {
    top: 500px;
  }
  75% {
    top: 505px;

  }
  100% {
    top: 500px;
  }
}
.languageScrolling{
  width: 100%;
  height: 60px;
  /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
  /*backdrop-filter: blur(5px);*/
  /*-webkit-backdrop-filter: blur(5px);*/
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  /*background: rgba(255, 255, 255, 0.15);*/
  /*box-sizing: border-box;*/
  position: absolute;
  top: 750px;
  display: flex;
  overflow-x:hidden ;

}.group{
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 1em;*/
 }
.card{
  width: 500px;
  height: 60px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  animation: spin 40s infinite linear;
  text-align: center;
  align-content: center;
  color: #7C6E6E;
  font-size: 2em;
  font-weight: bolder;
  font-family:  Helvetica, sans-serif;
  flex: 0 0 1;

}
/*.card:last-child{*/
/*  width: 500px;*/
/*  !*height: 50px;*!*/
/*}*/
@keyframes spin {
  from{
    translate: 0;
  }to{
      translate: -400%;
     }

}
#socialMediaIcon {
  position: absolute;
  width: 350px;
  margin-left: 70px;
  height: 50px;
  top: 670px;
  /*border: 2px solid red;red*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 34px;

}
#socialMediaIcon >a{
  border: 2px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  /*text-align: center;*/
}
#socialMediaIcon > a:hover:first-child{
  color: lawngreen;
  border: 2px solid lawngreen;
  box-shadow:0 0 30px lawngreen;
}
#socialMediaIcon > a:hover:nth-child(2){
  color: blue;
  border: 2px solid blue;
  box-shadow:0 0 30px blue;
}
#socialMediaIcon > a:hover:nth-child(3){
  color: white;
  border: 2px solid white;
  box-shadow:0 0 30px white;
}
#socialMediaIcon > a:hover:nth-child(4){
  color: red;
  border: 2px solid red;
  box-shadow:0 0 30px red;
}
#socialMediaIcon > a:hover:nth-child(5  ){
  color: #ee2a7b;
  border: 2px solid #ee2a7b;
  box-shadow:0 0 30px #ee2a7b;
}




